<% provide(:title, "About") %>

<div class="container text-center">
  <h1>About DevMatch</h1>
  <p>We are DevMatch. Our company focuses on creating an exclusive community
  for developers and entrepeneurs to meet.</p>
</div>
